// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use 'sass:color';
@use 'functions';
@use 'variables';
@use 'md' as *;
@use 'tokens/dp';

$textfield-classname: textfield !default;
$container-classname: #{$textfield-classname}-container !default;
$leadingicon-classname: #{$textfield-classname}-leading-icon !default;
$label-classname: #{$textfield-classname}-label !default;
$input-classname: #{$textfield-classname}-input !default;
$trailingicon-classname: #{$textfield-classname}-trailing-icon !default;
$supportingtext-classname: #{$textfield-classname}-supporting-text !default;
$disabled-classname: #{$textfield-classname}-disabled !default;

// Filled text field states
// enabled state
$filled-enabled-container-color: $md-sys-color-surface-variant;
$filled-enabled-container-shape: $md-sys-shape-corner-extra-small-top;
$filled-enabled-leading-icon-color: $md-sys-color-on-surface-variant;
$filled-enabled-leading-icon-size: dp.$twenty-four;
$filled-enabled-label-text-color: $md-sys-color-on-surface-variant;
$filled-enabled-label-text-font: $md-sys-typescale-body-large-font;
$filled-enabled-label-text-line-height: $md-sys-typescale-body-large-line-height;
$filled-enabled-label-text-size: $md-sys-typescale-body-large-size;
$filled-enabled-label-text-weight: $md-sys-typescale-body-large-weight;
$filled-enabled-label-text-tracking: $md-sys-typescale-body-large-tracking;
$filled-enabled-label-text-line-height-populated: $md-sys-typescale-body-small-line-height;
$filled-enabled-label-text-size-populated: $md-sys-typescale-body-small-size;
$filled-enabled-trailing-icon-color: $md-sys-color-on-surface-variant;
$filled-enabled-trailing-icon-size: dp.$twenty-four;
$filled-enabled-active-indicator-height: dp.$one;
$filled-enabled-active-indicator-color: $md-sys-color-on-surface-variant;
$filled-enabled-caret-color: $md-sys-color-primary;
$filled-enabled-input-text-color: $md-sys-color-on-surface;
$filled-enabled-input-text-font: $md-sys-typescale-body-large-font;
$filled-enabled-input-text-line: $md-sys-typescale-body-large-line-height;
$filled-enabled-input-text-size: $md-sys-typescale-body-large-size;
$filled-enabled-input-text-weight: $md-sys-typescale-body-large-weight;
$filled-enabled-input-text-tracking: $md-sys-typescale-body-large-tracking;
$filled-enabled-supporting-text-color: $md-sys-color-on-surface-variant;
$filled-enabled-supporting-text-font: $md-sys-typescale-body-small-font;
$filled-enabled-supporting-text-line-height: $md-sys-typescale-body-small-line-height;
$filled-enabled-supporting-text-size: $md-sys-typescale-body-small-size;
$filled-enabled-supporting-text-weight: $md-sys-typescale-body-small-weight;
$filled-enabled-supporting-text-tracking: $md-sys-typescale-body-small-tracking;

// $filled-enabled-placeholder-input-text: $md-sys-color-on-surface-variant;
// $filled-enabled-prefix-input-label: $md-sys-color-on-surface-variant;
// $filled-enabled-suffix-input-label-color: $md-sys-color-on-surface-variant;
// focussed state
$filled-focussed-active-indicator-height: dp.$two;
$filled-focussed-active-indicator-color: $md-sys-color-primary;
$filled-focussed-label-text-color: $md-sys-color-primary;
$filled-focussed-input-text-color: $md-sys-color-on-surface;
$filled-focussed-supporting-text-color: $md-sys-color-on-surface-variant;
$filled-focussed-leading-icon-color: $md-sys-color-on-surface-variant;
$filled-focussed-trailing-icon-color: $md-sys-color-on-surface-variant;

// outlined hovered state
$filled-hovered-active-indicator-height: dp.$one;
$filled-hovered-active-indicator-color: $md-sys-color-on-surface;
$filled-hovered-label-text-color: $md-sys-color-on-surface-variant;
$filled-hovered-input-text-color: $md-sys-color-on-surface;
$filled-hovered-supporting-text-color: $md-sys-color-on-surface-variant;
$filled-hovered-leading-icon-color: $md-sys-color-on-surface-variant;
$filled-hovered-trailing-icon-color: $md-sys-color-on-surface-variant;
$filled-hovered-state-layer-color: $md-sys-color-on-surface;
$filled-hovered-state-layer-opacity: $md-sys-state-hover-state-layer-opacity;

// disabled state
$filled-disabled-container-color: $md-sys-color-on-surface;
$filled-disabled-container-opacity: 4%;
$filled-disabled-active-indicator-height: dp.$one;
$filled-disabled-active-indicator-color: $md-sys-color-on-surface;
$filled-disabled-active-indicator-opacity: 38%;
$filled-disabled-label-text-color: $md-sys-color-on-surface;
$filled-disabled-label-text-opacity: 38%;
$filled-disabled-input-text-color: $md-sys-color-on-surface;
$filled-disabled-input-text-opacity: 38%;
$filled-disabled-supporting-text-color: $md-sys-color-on-surface;
$filled-disabled-supporting-text-opacity: 38%;
$filled-disabled-leading-icon-color: $md-sys-color-on-surface;
$filled-disabled-leading-icon-opacity: 38%;
$filled-disabled-trailing-icon-color: $md-sys-color-on-surface;
$filled-disabled-trailing-icon-opacity: 38%;
$filled-disabled-trailing-icon-opacity: 38%;

// Filled text field layout
$filled-default-container-height: dp.$fifty-six;
$filled-top-bottom-padding: dp.$eight;
$filled-left-right-padding-without-icons: dp.$sixteen;
$filled-left-right-padding-with-icons: dp.$twelve;

// $filled-padding-between-icons-and-text: dp.$sixteen;
$filled-supporting-text-and-character-counter-top-padding: dp.$four;

// $filled-padding-between-supporting-text-and-character-counter: dp.$sixteen;
// $filled-target-size: dp.$fifty-six;

// outlined variabled
$outlined-layout-container-height: dp.$fifty-six;
$outlined-layout-left-right-padding-without-icon: dp.$sixteen;
$outlined-layout-left-right-padding-with-icon: dp.$twelve;

// $outlined-layout-padding-between-icons-and-text: dp.$sixteen;
// $outlined-layout-padding-between-supporting-text-and-character-count-top-padding: dp.$sixteen;
$outlined-layout-supporting-text-and-character-count-top-padding: dp.$four;
$outlined-layout-left-right-populated-label-text: dp.$four;

// outlined enabled state
$outlined-enabled-container-shape: $md-sys-shape-corner-extra-small;
$outlined-enabled-container-outline-width: dp.$one;
$outlined-enabled-container-outline-color: $md-sys-color-outline;
$outlined-enabled-label-text-color: $md-sys-color-on-surface-variant;
$outlined-enabled-label-text-font: $md-sys-typescale-body-large-font;
$outlined-enabled-label-text-line-height: $md-sys-typescale-body-large-line-height;
$outlined-enabled-label-text-size: $md-sys-typescale-body-large-size;
$outlined-enabled-label-text-weight: $md-sys-typescale-body-large-weight;
$outlined-enabled-label-text-tracking: $md-sys-typescale-body-large-tracking;
$outlined-enabled-leading-icon-color: $md-sys-color-on-surface-variant;
$outlined-enabled-leading-icon-size: dp.$twenty-four;
$outlined-enabled-label-text-line-height-populated: $md-sys-typescale-body-small-line-height;
$outlined-enabled-label-text-size-populated: $md-sys-typescale-body-small-size;
$outlined-enabled-trailing-icon-color: $md-sys-color-on-surface-variant;
$outlined-enabled-trailing-icon-size: dp.$twenty-four;
$outlined-enabled-caret-color: $md-sys-color-primary;
$outlined-enabled-input-text-color: $md-sys-color-on-surface;
$outlined-enabled-input-text-font: $md-sys-typescale-body-large-font;
$outlined-enabled-input-text-line-height: $md-sys-typescale-body-large-line-height;
$outlined-enabled-input-text-size: $md-sys-typescale-body-large-size;
$outlined-enabled-input-text-weight: $md-sys-typescale-body-large-weight;
$outlined-enabled-input-text-tracking: $md-sys-typescale-body-large-tracking;
$outlined-enabled-supporting-text-color: $md-sys-color-on-surface-variant;
$outlined-enabled-supporting-text-font: $md-sys-typescale-body-small-font;
$outlined-enabled-supporting-text-line-height: $md-sys-typescale-body-small-line-height;
$outlined-enabled-supporting-text-size: $md-sys-typescale-body-small-size;
$outlined-enabled-supporting-text-weight: $md-sys-typescale-body-small-weight;
$outlined-enabled-supporting-text-tracking: $md-sys-typescale-body-small-tracking;

// $outlined-enabled-placeholder-input-text-color: $md-sys-color-on-surface-variant;
// $outlined-enabled-suffix-input-text-color: $md-sys-color-on-surface-variant;
// $outlined-enabled-prefix-input-text-color: $md-sys-color-on-surface-variant;

// outlined disabled state
$outlined-disabled-outline-width: dp.$one;
$outlined-disabled-outline-color: $md-sys-color-on-surface;
$outlined-disabled-outline-opacity: 12%;
$outlined-disabled-label-text-color: $md-sys-color-on-surface;
$outlined-disabled-label-text-opacity: 38%;
$outlined-disabled-input-text-color: $md-sys-color-on-surface;
$outlined-disabled-input-text-opacity: 38%;
$outlined-disabled-supporting-text-color: $md-sys-color-on-surface;
$outlined-disabled-supporting-text-opacity: 38%;
$outlined-disabled-leading-icon-color: $md-sys-color-on-surface;
$outlined-disabled-leading-icon-opacity: 38%;
$outlined-disabled-trailing-icon-color: $md-sys-color-on-surface;
$outlined-disabled-trailing-icon-opacity: 38%;

// outlined focussed state
$outlined-focussed-outline-width: dp.$two;
$outlined-focussed-outline-color: $md-sys-color-primary;
$outlined-focussed-label-text-color: $md-sys-color-primary;
$outlined-focussed-input-text-color: $md-sys-color-on-surface;
$outlined-focussed-supporting-text-color: $md-sys-color-on-surface-variant;
$outlined-focussed-leading-icon-color: $md-sys-color-on-surface-variant;
$outlined-focussed-trailing-icon-color: $md-sys-color-on-surface-variant;

// outlined hovered state
$outlined-hovered-outline-width: dp.$one;
$outlined-hovered-outline-color: $md-sys-color-on-surface;
$outlined-hovered-label-text-color: $md-sys-color-on-surface;
$outlined-hovered-input-text-color: $md-sys-color-on-surface;
$outlined-hovered-supporting-text-color: $md-sys-color-on-surface-variant;
$outlined-hovered-leading-icon-color: $md-sys-color-on-surface-variant;
$outlined-hovered-trailing-icon-color: $md-sys-color-on-surface-variant;

.#{$textfield-classname} {
  &-filled {
    & *, *::before, *::after {
      box-sizing: border-box;
    }

    & > .#{$container-classname} {
      align-items: center;
      background-color: $filled-enabled-container-color;
      border-radius: $filled-enabled-container-shape;
      display: flex;
      height: $filled-default-container-height;
      padding-bottom: $filled-top-bottom-padding;
      padding-top: $filled-top-bottom-padding;
      position: relative;
  
      // represents the 'Active indicator' (the bottom line that changes color and increases its size when focussed)
      &::after {
        border-bottom: $filled-enabled-active-indicator-height solid $filled-enabled-active-indicator-color;
        bottom: 0;
        content: ' ';
        left: 0;
        pointer-events: none;
        position: absolute;
        user-select: none;
        width: 100%;
      }

      & > .#{$leadingicon-classname} {
        color: $filled-enabled-leading-icon-color;
        font-size: $filled-enabled-leading-icon-size;
        line-height: 1;
        margin-left: $filled-left-right-padding-with-icons;
        pointer-events: none;
        user-select: none;

        // re-position the label whenever the leading icon is defined
        & ~ .#{$label-classname} {
          left: dp.$fifty-two;
        }
      }
      
      & > .#{$input-classname} {
        align-self: end;
        background: none;
        border-width: 0;
        caret-color: $filled-enabled-caret-color;
        color: $filled-enabled-input-text-color;
        font-family: $filled-enabled-input-text-font;
        font-size: $filled-enabled-input-text-size;
        font-weight: $filled-enabled-input-text-weight;
        letter-spacing: $filled-enabled-input-text-tracking;
        line-height: $filled-enabled-input-text-line;
        margin-left: $filled-left-right-padding-without-icons;
        margin-right: $filled-left-right-padding-without-icons;
        padding: 0;
        width: 100%;
    
        // input focussed
        &:focus {
          outline: none;
          & ~ .#{$label-classname} {
            color: $filled-focussed-label-text-color;
         }
        }
    
        // the input is empty and not focused
        &:placeholder-shown:not(:focus) ~ .#{$label-classname} {
          font-size: $filled-enabled-label-text-size;
          line-height: $filled-enabled-label-text-line-height;
          top: dp.$sixteen;
        }
      }
    
      // by default the label is styled in 'populated mode' so that browsers not supporting 'advanced' css are ok
      & > .#{$label-classname} {
        color: $filled-enabled-label-text-color;
        font-family: $filled-enabled-label-text-font;
        font-size: $filled-enabled-label-text-size-populated;
        font-weight: $filled-enabled-label-text-weight;
        left: $filled-left-right-padding-without-icons;
        letter-spacing: $filled-enabled-label-text-tracking;
        line-height: $filled-enabled-label-text-line-height-populated;
        margin-right: $filled-left-right-padding-without-icons;
        pointer-events: none;
        position: absolute;
        top: $filled-top-bottom-padding;
        transition-duration: $md-sys-motion-transition-duration;
        transition-property: color, transform, top, font-size, line-height, left, padding;
        transition-timing-function: $md-sys-motion-easing-standard-curve;
        user-select: none;
      }
    
      & > .#{$trailingicon-classname} {
        color: $filled-enabled-trailing-icon-color;
        font-size: $filled-enabled-trailing-icon-size;
        line-height: 1;
        margin-right: $filled-left-right-padding-with-icons;
        pointer-events: none;
        transition-duration: $md-sys-motion-transition-duration;
        transition-property: color;
        transition-timing-function: $md-sys-motion-easing-standard-curve;
        user-select: none;
      }    
    }
    & > .#{$supportingtext-classname} {
      color: $filled-enabled-supporting-text-color;
      display: block;
      font-family: $filled-enabled-supporting-text-font;
      font-size: $filled-enabled-supporting-text-size;
      font-weight: $filled-enabled-supporting-text-weight;
      line-height: $filled-enabled-supporting-text-line-height;
      margin-left: $filled-left-right-padding-without-icons;
      margin-top: $filled-supporting-text-and-character-counter-top-padding;
      letter-spacing: $filled-enabled-supporting-text-tracking;
    }
    
    // focused state
    &:focus-within { // 95% browser support on caniuse
      & > .#{$container-classname} {
        // active indicator focussed
        &::after {
          border-bottom-color: $filled-focussed-active-indicator-color;
          border-bottom-width: $filled-focussed-active-indicator-height;
          transition-duration: $md-sys-motion-transition-duration;
          transition-property: border-color, border-width;
          transition-timing-function: $md-sys-motion-easing-standard-curve;
        }

        & > .#{$leadingicon-classname} {
          color: $filled-focussed-leading-icon-color;
        }

        & > .#{$input-classname} {
          color: $filled-focussed-input-text-color;
        }

        & > .#{$trailingicon-classname} {
          color: $filled-focussed-trailing-icon-color;
        }

        & > .#{$label-classname} {
          color: $filled-focussed-label-text-color;
        }
      }

      & > .#{$supportingtext-classname} {
        color: $filled-focussed-supporting-text-color;
      }
    }
    
    // disabled state
    &.#{$disabled-classname} {
      & > .#{$container-classname} {
//        background-color: $filled-disabled-container-color;
//        opacity: $filled-disabled-container-opacity;

        // represents the 'Active indicator' (the bottom line that changes color and increases its size when focussed)
        &::after {
          background-color: $filled-disabled-active-indicator-color;
          height: $filled-disabled-active-indicator-height px;
          opacity: $filled-disabled-active-indicator-opacity;
        }
  
        & > .#{$leadingicon-classname} {
          color: $filled-disabled-leading-icon-color;
          opacity: $filled-disabled-leading-icon-opacity;
        }
        
        & > .#{$input-classname} {
          color: $filled-disabled-input-text-color;
          opacity: $filled-disabled-input-text-opacity;
          pointer-events: none;
          user-select: none;
        }
      
        & > .#{$label-classname} {
          color: $filled-disabled-label-text-color;
          opacity: $filled-disabled-label-text-opacity;
        }
      
        & > .#{$trailingicon-classname} {
          color: $filled-disabled-trailing-icon-color;
          opacity: $filled-disabled-trailing-icon-opacity;
        }    
      }
      & > .#{$supportingtext-classname} {
        color: $filled-disabled-supporting-text-color;
        opacity: $filled-disabled-supporting-text-opacity;
      }
    }
  }

  &-outlined {
    & *, *::before, *::after {
      box-sizing: border-box;
    }

    & > .#{$container-classname} {
      align-items: center;
      display: flex;
      height: $outlined-layout-container-height;
      margin-top: dp.$eight; // to account for the label overlapping the outline
      position: relative;
  
      // represents the 'outline', basically the border around the input
      &::after {
        border-width: $outlined-enabled-container-outline-width;
        border-color: $outlined-enabled-container-outline-color;
        border-radius: $outlined-enabled-container-shape;
        border-style: solid;
        bottom: 0;
        content: ' ';
        height: 100%;
        left: 0;
        pointer-events: none; 
        position: absolute;
        top: 0;
        user-select: none;
        width: 100%;
      }
  
      // leading icon
      & > .#{$leadingicon-classname} {
        color: $outlined-enabled-leading-icon-color;
        font-size: $outlined-enabled-leading-icon-size;
        line-height: 1;
        margin-left: $outlined-layout-left-right-padding-with-icon;
        pointer-events: none;
        user-select: none;

        & ~ .#{$input-classname}:placeholder-shown:not(:focus) ~ .#{$label-classname} {
          left: dp.$fifty-two;
        }
      }
      
      // input
      & > .#{$input-classname} {
        background: none;
        border-width: 0;
        caret-color: $outlined-enabled-caret-color;
        color: $outlined-enabled-input-text-color;
        font-family: $outlined-enabled-input-text-font;
        font-size: $outlined-enabled-input-text-size;
        font-weight: $outlined-enabled-input-text-weight;
        letter-spacing: $outlined-enabled-input-text-tracking;
        line-height: $outlined-enabled-input-text-line-height;
        margin-left: $outlined-layout-left-right-padding-without-icon;
        margin-right: $outlined-layout-left-right-padding-without-icon;
        padding: 0;
        width: 100%;
    
        &:focus {
          outline: none;
        }
    
        // input is empty and not focused
        &:placeholder-shown:not(:focus) ~ .#{$label-classname} {
          font-size: $outlined-enabled-label-text-size;
          line-height: $outlined-enabled-label-text-line-height;
          padding-left: 0;
          padding-right: 0;
          top: dp.$sixteen;
        }
      }
    
      // label - by default it's styled in 'populated mode' so that browsers not supporting 'advanced' css are ok
      & > .#{$label-classname} {
        background-color: white;
        color: $outlined-enabled-label-text-color;
        font-family: $outlined-enabled-label-text-font;
        font-size: $outlined-enabled-label-text-size-populated;
        font-weight: $outlined-enabled-label-text-weight;
        left: $outlined-layout-left-right-padding-without-icon;
        letter-spacing: $outlined-enabled-label-text-tracking;
        line-height: $outlined-enabled-label-text-line-height-populated;
        padding-left: $outlined-layout-left-right-populated-label-text;
        padding-right: $outlined-layout-left-right-populated-label-text;
        pointer-events: none;
        position: absolute;
        top: -(dp.$eight - dp.$one);
        transition-duration: $md-sys-motion-transition-duration;
        transition-property: color, transform, top, font-size, line-height, left, padding;
        transition-timing-function: $md-sys-motion-easing-standard-curve;
        user-select: none;
        z-index: 2;
      }
    
      // trailing icon
      & > .#{$trailingicon-classname} {
        color: $outlined-enabled-trailing-icon-color;
        font-size: $outlined-enabled-trailing-icon-size;
        line-height: 1;
        margin-right: $outlined-layout-left-right-padding-with-icon;
        pointer-events: none;
        transition-duration: $md-sys-motion-transition-duration;
        transition-property: color;
        transition-timing-function: $md-sys-motion-easing-standard-curve;
        user-select: none;
      }    
    }

    // supporting-text
    & > .#{$supportingtext-classname} {
      color: $outlined-enabled-supporting-text-color;
      display: block;
      font-family: $outlined-enabled-supporting-text-font;
      font-size: $outlined-enabled-supporting-text-size;
      font-weight: $outlined-enabled-supporting-text-weight;
      line-height: $outlined-enabled-supporting-text-line-height;
      margin-left: $outlined-layout-left-right-padding-without-icon;
      margin-top: $outlined-layout-supporting-text-and-character-count-top-padding;
      letter-spacing: $outlined-enabled-supporting-text-tracking;
    }

    // focused state
    &:focus-within { // 95% browser support on caniuse
      & > .#{$container-classname} {
        // outline
        &::after {
          border-width: $outlined-focussed-outline-width;
          border-color: $outlined-focussed-outline-color;
          transition-duration: $md-sys-motion-transition-duration;
          transition-property: border-color, border-width;
          transition-timing-function: $md-sys-motion-easing-standard-curve;
        }

        & > .#{$leadingicon-classname} {
          color: $outlined-focussed-leading-icon-color;
        }

        & > .#{$input-classname} {
          color: $outlined-focussed-input-text-color;
        }

        & > .#{$trailingicon-classname} {
          color: $outlined-focussed-trailing-icon-color;
        }

        & > .#{$label-classname} {
          color: $outlined-focussed-label-text-color;
        }
      }

      & > .#{$supportingtext-classname} {
        color: $outlined-focussed-supporting-text-color;
      }
    }

    // disabled state
    &.#{$disabled-classname} {
      & > .#{$container-classname} {
        // outline
        &::after {
          border-width: $outlined-disabled-outline-width;
          border-color: $outlined-disabled-outline-color;
          opacity: $outlined-disabled-outline-opacity;
        }
  
        & > .#{$leadingicon-classname} {
          color: $outlined-disabled-leading-icon-color;
          opacity: $outlined-disabled-leading-icon-opacity;
        }
        
        & > .#{$input-classname} {
          color: $outlined-disabled-input-text-color;
          opacity: $outlined-disabled-input-text-opacity;
          pointer-events: none;
          user-select: none;
        }
      
        & > .#{$label-classname} {
          color: $outlined-disabled-label-text-color;
          opacity: $outlined-disabled-label-text-opacity;
        }
      
        & > .#{$trailingicon-classname} {
          color: $outlined-disabled-trailing-icon-color;
          opacity: $outlined-disabled-trailing-icon-opacity;
        }    
      }
      & > .#{$supportingtext-classname} {
        color: $outlined-disabled-supporting-text-color;
        opacity: $outlined-disabled-supporting-text-opacity;
      }
    }
  }

}
