// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use 'sass:color';
@use 'functions';
@use 'variables';
@use 'tokens/sys/themes/light';
@use 'tokens/sys/themes/dark';
@use 'tokens/sys/shape';
@use 'tokens/sys/typescale';
@use 'tokens/sys/motion';

$classname: textfield !default;
$container-height: 3.5rem;
$top-bottom-padding: 0.5rem;
$left-right-padding-without-icon: 1rem;
$left-right-padding-with-icon: 0.75rem;
$padding-between-icons-and-text: 1rem;
$supporting-text-top-padding: 0.25rem;
$padding-between-supporting-text-and-character-counter: 1rem;

.#{$classname} {
  &-filled {
    & *, *::before, *::after {
      box-sizing: border-box;
    }

    & > .#{$classname}-container {
      align-items: center;
      background: light.$md-sys-color-surface-variant;
      border-radius: shape.$md-sys-shape-corner-extra-small-top;
      display: flex;
      height: $container-height;
      padding-bottom: $top-bottom-padding;
      padding-top: $top-bottom-padding;
      position: relative;
      transition-property: background-color;
      transition-duration: motion.$md-sys-motion-transition-duration;
      transition-timing-function: motion.$md-sys-motion-easing-standard-curve;
  
      &:focus-within::after {
        border-bottom-width: 0.125rem;
        border-bottom-color: #6750a4;
      }

      // represents the 'Active indicator' (the bottom line that changes color and increased its size when focussed)
      &::after {
        content: ' ';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 0.0625rem solid light.$md-sys-color-on-surface-variant;
        transition-property: border-color, border-width;
        transition-duration: motion.$md-sys-motion-transition-duration;
        transition-timing-function: motion.$md-sys-motion-easing-standard-curve;
        user-select: none;
        pointer-events: none;
      }
  
      & > .#{$classname}-leading-icon {
        margin-left: $left-right-padding-with-icon;
        user-select: none;
        pointer-events: none;
        color: light.$md-sys-color-on-surface-variant;
        font-size: 1.25em;
        line-height: 0;
        padding-left: 0.125rem;
        padding-right: 0.125rem;
        & ~ .#{$classname}-label {
          left: 3.25rem;
        }
      }
      
      & > .#{$classname}-input {
        align-self: end;
        background: none;
        border-width: 0;
        caret-color: light.$md-sys-color-primary;
        color: light.$md-sys-color-on-surface;
        font-family: typescale.$md-sys-typescale-body-large-font;
        font-size: typescale.$md-sys-typescale-body-large-size;
        font-weight: typescale.$md-sys-typescale-body-large-weight;
        margin-left: $left-right-padding-without-icon;
        margin-right: $left-right-padding-without-icon;
        letter-spacing: typescale.$md-sys-typescale-body-large-tracking;
        line-height: typescale.$md-sys-typescale-body-large-line-height;
        padding: 0;
        width: 100%;
    
        &:focus {
          outline: none;
          & ~ .#{$classname}-label {
            color: light.$md-sys-color-primary;
         }
        }
    
        // the input is empty and not focused
        &:placeholder-shown:not(:focus) ~ .#{$classname}-label {
          font-size: typescale.$md-sys-typescale-body-large-size;
          line-height: typescale.$md-sys-typescale-body-large-line-height;
          top: 1rem;
        }
      }
    
      // by default the label is styled in 'populated mode' so that browsers not supporting 'advanced' css are ok
      & > .#{$classname}-label {
        position: absolute;
        left: $left-right-padding-without-icon;
        user-select: none;
        pointer-events: none;
        margin-right: $left-right-padding-without-icon;
        color: light.$md-sys-color-on-surface-variant;
        font-family: typescale.$md-sys-typescale-body-large-font;
        line-height: typescale.$md-sys-typescale-body-small-line-height;
        font-size: typescale.$md-sys-typescale-body-small-size;
        font-weight: typescale.$md-sys-typescale-body-large-weight;
        letter-spacing: typescale.$md-sys-typescale-body-large-tracking;
        top: $top-bottom-padding;
        transition-property: color, transform, top, font-size, line-height, left, padding;
        transition-duration: motion.$md-sys-motion-transition-duration;
        transition-timing-function: motion.$md-sys-motion-easing-standard-curve;
      }
    
      & > .#{$classname}-trailing-icon {
        margin-right: $left-right-padding-with-icon;
        user-select: none;
        pointer-events: none;
        color: light.$md-sys-color-on-surface-variant;
        font-size: 1.5rem;
        line-height: 0;
        transition-property: color;
        transition-duration: motion.$md-sys-motion-transition-duration;
        transition-timing-function: motion.$md-sys-motion-easing-standard-curve;
      }    
    }
    & > .#{$classname}-supporting-text {
      margin-top: $supporting-text-top-padding;
      color: light.$md-sys-color-on-surface-variant;
      font-family: typescale.$md-sys-typescale-body-small-font;
      line-height: typescale.$md-sys-typescale-body-small-line-height;
      font-size: typescale.$md-sys-typescale-body-small-size;
      font-weight: typescale.$md-sys-typescale-body-small-weight;
      letter-spacing: typescale.$md-sys-typescale-body-small-tracking;
    }

    & > .#{$classname}-character-counter {
      margin-top: $supporting-text-top-padding;

      // todo: complete this part
    }
  }
}
