---
layout: layouts/base.njk
title: Material Design Light
description: A lightweight CSS framework implementing the Material Design 3.
thumbnail:
    path: /assets/img/thumb.png
    type: image/jpeg
    width: 1280
    height: 720
    alt: Pastel photograph with the Material Design Light logo.
keywords:
    - CSS
    - CSS framework
    - Material Design
    - Material Design 3
    - MD3
    - Web
    - HTML
    - Sass
    - SCSS
---
<main style='padding:5rem' data-ml-theme='light'>

  <div class='card card-filled ' style='width:100%;height:30rem; border-radius:4rem;background-image-repeat: none;     background-size: cover;
  background-image: url("https://lh3.googleusercontent.com/duWOVI3UUvSetaNEnlx7ggDF5acg7ADmRCSVbWd4MOW8Bo0uPRBhClXhdadmfzqaJ-jeCh-MfS5hnXu7hu2NbrlMuqDabNlVdnoQVBfCU1JSs0miCHEn=w1200-rj");'>

    <div class="p-5 " style="margin-left: 2rem; margin-right:2rem">
      <h1 class="headline-large font-xxxl" >Meet</h1>
      <h1  class="headline-large font-xxxl">Material</h1>
      <h1  class="headline-large font-xxxl">Light 3</h1>
    </div>

  </div>
  <div  class="p-3">
    <h2 class="headline-large mb-0 " >Migrate to Material Design 3</h2>
    <p  class="headline-medium text-muted m-0">Start using the latest features in your existing product</p>
  </div>
  <hr>
  <div  class="p-3">
    <h2 class="headline-large mb-0 " >Basic Components</h2>
    {# <p  class="headline-medium text-muted m-0">Start using the latest features in your existing product</p> #}
  </div>
  <div class="p-3 card card-outlined card-rounded-xl">

    <div class="card-body">

      <div class="group">

        <div class='card card-elevated m-2 p-2' style='width:18rem;height:10rem;'>
          <p class="title-small pl-3 mt-0">Elevated</p>
        </div>

        <div class='card card-filled m-2 p-2' style='width:18rem;height:10rem;'>
          <p class="title-small pl-3 mt-0">Filled</p>

        </div>

        <div class='card card-outlined m-2 p-2' style='width:18rem;height:10rem;'>
          <p class="title-small pl-3 mt-0">Outline</p>

        </div>

      </div>

    </div>

  </div>
  <div class="p-3 card mt-4 card-outlined card-rounded-xl">

    <div class="card-body">

      <div class="group">

        <button type='button' class='m-2 button button-elevated'>Elevated button</button>
        <button type='button' class='m-2 button button-elevated' disabled>Elevated button</button>
        <a href='#'           class='m-2 button button-elevated'>Elevated button</a>
        <button type='button' class='m-2 button button-filled'>Filled button</button>
        <button type='button' class='m-2 button button-tonal'>Tonal button</button>
        <button type='button' class='m-2 button button-outlined'>Outlined button</button>
        <button type='button' class='m-2 button button-text'>Text button</button>

      </div>

    </div>

  </div>
  <div class="p-3 card mt-4 card-filled card-rounded-l">

    <div class="card-body">

      <div class="group">
       
        <div class='card card-elevated' style='width:26rem'>
          <img src='https://picsum.photos/384/216' alt='Demo' class='card-image-top'>
          <div class='card-body'>
            <h5 class='headline-medium mt-2 mb-1'>Glass Souls' World Tour</h5>
            <p class='body-large m-0'>From your recent favorites</p>
            <div class='button-group mt-4 mb-3'>
              <button type='button' class='button button-filled'>Buy tickets</button>
              <button type='button' class='button button-outlined'>Buy tickets</button>
            </div>
          </div>
        </div>
         <div class="p-5 " style="margin-left: 2rem; margin-right:2rem">
          <h1 class="headline-large font-xxxl" >Card</h1>
          <h1  class="headline-large font-xxxl">With</h1>
          <h1  class="headline-large font-xxxl">Image</h1>
        </div>
      </div>

    </div>

  </div>

</main>