---
layout: layouts/base.njk
title: Material Design Light
description: A lightweight CSS framework implementing the Material Design 3.
thumbnail:
    path: /assets/img/thumb.png
    type: image/jpeg
    width: 1280
    height: 720
    alt: Pastel photograph with the Material Design Light logo.
keywords:
    - CSS
    - CSS framework
    - Material Design
    - Material Design 3
    - MD3
    - Web
    - HTML
    - Sass
    - SCSS
---
<main style='padding:10rem' data-ml-theme='light'>
  <h1 class='headline-large'>Material Design Light</h1>
  <hr>
  <div class='card card-elevated' style='width:18rem;height:10rem;'>
  </div>
  <hr>
  <div class='card card-filled' style='width:18rem;height:10rem;'>
  </div>
  <hr>
  <div class='card card-outlined' style='width:18rem;height:10rem;'>
  </div>
  <hr>
  <button type='button' class='button button-elevated'>Elevated button</button>
  <hr>
  <button type='button' class='button button-elevated' disabled>Elevated button</button>
  <hr>
  <a href='#' class='button button-elevated'>Elevated button</a>
  <hr>
  <button type='button' class='button button-filled'>Filled button</button>
  <hr>
  <button type='button' class='button button-tonal'>Tonal button</button>
  <hr>
  <button type='button' class='button button-outlined'>Outlined button</button>
  <hr>
  <button type='button' class='button button-text'>Text button</button>
  <hr>
  <div class='card card-elevated' style='width:26rem'>
    <img src='https://picsum.photos/384/216' alt='Demo' class='card-image-top'>
    <div class='card-body'>
      <h5 class='headline-medium mt-2 mb-1'>Glass Souls' World Tour</h5>
      <p class='body-large m-0'>From your recent favorites</p>
      <div class='group-inline gap-2 mt-4 mb-3'>
        <button type='button' class='button button-filled'>Buy tickets</button>
        <button type='button' class='button button-outlined'>Buy tickets</button>
      </div>
    </div>
  </div>
</main>
