---
layout: layouts/base.njk
title: Material Design Light
description: A lightweight CSS framework implementing the Material Design 3.
thumbnail:
path: /assets/img/thumb.png
type: image/jpeg
width: 1280
height: 720
alt: Pastel photograph with the Material Design Light logo.
keywords:
- CSS
- CSS framework
- Material Design
- Material Design 3
- MD3
- Web
- HTML
- Sass
- SCSS
---
<div style='display:flex'>
  <nav class='nav-drawer-modal'>
    <h5 class='typography-title-small nav-drawer-modal-headline'>Mail</h5>
    <a href='#' class='nav-drawer-modal-item nav-drawer-modal-item-active'><span
        class='material-symbols-outlined material-symbols-outlined-fill nav--drawer-item-icon'>inbox</span>
      Inbox</a>
    <a href='#' class='nav-drawer-modal-item'><span class='material-symbols-outlined nav--drawer-item-icon'>send</span>
      Outbox</a>
    <a href='#' class='nav-drawer-modal-item'><span
        class='material-symbols-outlined nav--drawer-item-icon'>favorite</span>
      Favorites</a>
    <a href='#' class='nav-drawer-modal-item'><span
        class='material-symbols-outlined nav--drawer-item-icon'>delete</span>
      Trash</a>
    <hr class='nav-drawer-modal-break'>
    <h5 class='typography-title-small nav-drawer-modal-headline'>Labels</h5>
    <a href='#' class='nav-drawer-modal-item'><span
        class='material-symbols-outlined nav--drawer-item-icon'>folder</span>
      Label</a>
  </nav>
  <div style='width: 22.5rem;height:100vh'></div>
  <div class='container m-5'>
    <h1 style='font-family: var(--ml-font-sans-serif)'>Material Design Light</h1>
    <p class='typography-body-large'><strong>Notice:</strong> This CSS framework is heavily work-in-progress. Browse the
      components below or <a href='https://github.com/mdlightdev/material-design-light' target='_blank'>check out the
        repository</a>.</p>
    <hr>
    <div class='row gap-3 my-3'>
      <div class='col'>
        <button type='button' class='button button-elevated'>Elevated button</button>
      </div>
      <div class='col'>
        <button type='button' class='button button-elevated' disabled>Elevated button</button>
      </div>
      <div class='col'>
        <a href='#' class='button button-elevated'>Elevated button</a>
      </div>
      <div class='col'>
        <button type='button' class='button button-filled'>Filled button</button>
      </div>
      <div class='col'>
        <button type='button' class='button button-tonal'>Tonal button</button>
      </div>
      <div class='col'>
        <button type='button' class='button button-outlined'>Outlined button</button>
      </div>
      <div class='col'>
        <button type='button' class='button button-text'>Text button</button>
      </div>
      <div class='col'>
        <button type='button' class='button button-elevated button-with-icon'><span
            class='material-symbols-outlined button-icon'>add</span> Elevated
        </button>
      </div>
      <div class='col'>
        <a href='#' class='button button-elevated'>Elevated button</a>
      </div>
      <div class='col'>
        <a href='#' class='button button-elevated'>Elevated button</a>
      </div>
      <div class='col'>
        <a href='#' class='button button-elevated'>Elevated button</a>
      </div>
    </div>
    <hr>
    <div class='row my-3'>
      <div class='col'>
        <div class='textfield-filled' style='width:16rem;'>
            <label class="textfield-container">
                <span class='textfield-leading-icon material-symbols-outlined'>search</span>
                <input class='textfield-input' type="text" placeholder=' ' value='' pattern='[A-Za-z]{3}'>
                <span class='textfield-label'>Label</span>
                <span class='textfield-trailing-icon material-symbols-outlined'>cancel</span>
            </label>
            <p class='textfield-supporting-text'>Supporting text</p>
        </div>
      </div>
      <div class='col'>
        <div class='textfield-outlined' style='width:16rem;'>
            <label class="textfield-container">
                <span class='textfield-leading-icon material-symbols-outlined'>search</span>
                <input class='textfield-input' type="text" placeholder=' ' value='' pattern='[A-Za-z]{3}'>
                <span class='textfield-label'>Label</span>
                <span class='textfield-trailing-icon material-symbols-outlined'>cancel</span>
            </label>
            <p class='textfield-supporting-text'>Supporting text</p>
        </div>
      </div>
      <div class='col'>
        <div class='textfield-filled' style='width:16rem;'>
            <label class="textfield-container">
                <input class='textfield-input' type="text" placeholder=' ' value='' pattern='[A-Za-z]{3}'>
                <span class='textfield-label'>Label</span>
            </label>
        </div>
      </div>
      <div class='col'>
        <div class='textfield-outlined' style='width:16rem;'>
            <label class="textfield-container">
                <input class='textfield-input' type="text" placeholder=' ' value='' pattern='[A-Za-z]{3}'>
                <span class='textfield-label'>Label</span>
            </label>
        </div>
      </div>
    </div>
    <hr>
    <div class='row'>
      <div class='col'>
        <div class='card card-elevated card-hover' style='width:26rem'>
          <img src='https://picsum.photos/seed/71/384/216' crossorigin alt='Demo' class='card-image-top'>
          <div class='card-body'>
            <h5 class='typography-headline-medium mt-2 mb-1'>Glass Souls' World Tour</h5>
            <p class='typography-body-large m-0'>From your recent favorites</p>
            <div class='group-inline gap-3 mt-4 mb-3'>
              <button type='button' class='button button-filled'>Buy tickets</button>
              <button type='button' class='button button-outlined'>Buy tickets</button>
            </div>
          </div>
        </div>
      </div>
      <div class='col'>
        <div class='card card-filled card-hover' style='width:26rem'>
          <img src='https://picsum.photos/seed/2/384/216' crossorigin alt='Demo' class='card-image-top'>
          <div class='card-body'>
            <h5 class='typography-headline-medium mt-2 mb-1'>Glass Souls' World Tour</h5>
            <p class='typography-body-large m-0'>From your recent favorites</p>
            <div class='group-inline gap-3 mt-4 mb-3'>
              <button type='button' class='button button-filled'>Buy tickets</button>
              <button type='button' class='button button-outlined'>Buy tickets</button>
            </div>
          </div>
        </div>
      </div>
      <div class='col'>
        <div class='card card-outlined card-hover' style='width:26rem'>
          <img src='https://picsum.photos/seed/212/384/216' crossorigin alt='Demo' class='card-image-top'>
          <div class='card-body'>
            <h5 class='typography-headline-medium mt-2 mb-1'>Glass Souls' World Tour</h5>
            <p class='typography-body-large m-0'>From your recent favorites</p>
            <div class='group-inline gap-3 mt-4 mb-3'>
              <button type='button' class='button button-filled'>Buy tickets</button>
              <button type='button' class='button button-outlined'>Buy tickets</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class='row'>
      <div class='col'>
        <div class='card card-elevated' style='width:18rem;height:10rem;'></div>
      </div>
      <div class='col'>
        <div class='card card-filled' style='width:18rem;height:10rem;'></div>
      </div>
      <div class='col'>
        <div class='card card-outlined' style='width:18rem;height:10rem;'></div>
      </div>
    </div>
  </div>
</div>
