// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

// fusv-disable

// Error 0-100
$md-ref-palette-error0: #000 !default;
$md-ref-palette-error10: #410e0b !default;
$md-ref-palette-error20: #601410 !default;
$md-ref-palette-error30: #8c1d18 !default;
$md-ref-palette-error40: #b3261e !default;
$md-ref-palette-error50: #dc362e !default;
$md-ref-palette-error60: #e46962 !default;
$md-ref-palette-error70: #ec928e !default;
$md-ref-palette-error80: #f2b8b5 !default;
$md-ref-palette-error90: #f9dedc !default;
$md-ref-palette-error95: #fceeee !default;
$md-ref-palette-error99: #fffbf9 !default;
$md-ref-palette-error100: #fff !default;

// Tertiary 0-100
$md-ref-palette-tertiary0: #000 !default;
$md-ref-palette-tertiary10: #31111d !default;
$md-ref-palette-tertiary20: #492532 !default;
$md-ref-palette-tertiary30: #633b48 !default;
$md-ref-palette-tertiary40: #7d5260 !default;
$md-ref-palette-tertiary50: #986977 !default;
$md-ref-palette-tertiary60: #b58392 !default;
$md-ref-palette-tertiary70: #d29dac !default;
$md-ref-palette-tertiary80: #efb8c8 !default;
$md-ref-palette-tertiary90: #ffd8e4 !default;
$md-ref-palette-tertiary95: #ffecf1 !default;
$md-ref-palette-tertiary99: #fffbfa !default;
$md-ref-palette-tertiary100: #fff !default;

// Secondary 0-100
$md-ref-palette-secondary0: #000 !default;
$md-ref-palette-secondary10: #1d192b !default;
$md-ref-palette-secondary20: #332d41 !default;
$md-ref-palette-secondary30: #4a4458 !default;
$md-ref-palette-secondary40: #625b71 !default;
$md-ref-palette-secondary50: #7a7289 !default;
$md-ref-palette-secondary60: #958da5 !default;
$md-ref-palette-secondary70: #b0a7c0 !default;
$md-ref-palette-secondary80: #ccc2dc !default;
$md-ref-palette-secondary90: #e8def8 !default;
$md-ref-palette-secondary95: #f6edff !default;
$md-ref-palette-secondary99: #fffbfe !default;
$md-ref-palette-secondary100: #fff !default;

// Primary 0-100
$md-ref-palette-primary0: #000 !default;
$md-ref-palette-primary10: #21005d !default;
$md-ref-palette-primary20: #381e72 !default;
$md-ref-palette-primary30: #4f378b !default;
$md-ref-palette-primary40: #6750a4 !default;
$md-ref-palette-primary50: #7f67be !default;
$md-ref-palette-primary60: #9a82db !default;
$md-ref-palette-primary70: #b69df8 !default;
$md-ref-palette-primary80: #d0bcff !default;
$md-ref-palette-primary90: #eaddff !default;
$md-ref-palette-primary95: #f6edff !default;
$md-ref-palette-primary99: #fffbfe !default;
$md-ref-palette-primary100: #fff !default;

// Neutral Variant 0-100
$md-ref-palette-neutral-variant0: #000 !default;
$md-ref-palette-neutral-variant10: #1d1a22 !default;
$md-ref-palette-neutral-variant20: #322f37 !default;
$md-ref-palette-neutral-variant30: #49454f !default;
$md-ref-palette-neutral-variant40: #605d66 !default;
$md-ref-palette-neutral-variant50: #79747e !default;
$md-ref-palette-neutral-variant60: #938f99 !default;
$md-ref-palette-neutral-variant70: #aea9b4 !default;
$md-ref-palette-neutral-variant80: #cac4d0 !default;
$md-ref-palette-neutral-variant90: #e7e0ec !default;
$md-ref-palette-neutral-variant95: #f5eefa !default;
$md-ref-palette-neutral-variant99: #fffbfe !default;
$md-ref-palette-neutral-variant100: #fff !default;

// Neutral 0-100
$md-ref-palette-neutral0: #000 !default;
$md-ref-palette-neutral10: #1c1b1f !default;
$md-ref-palette-neutral20: #313033 !default;
$md-ref-palette-neutral30: #484649 !default;
$md-ref-palette-neutral40: #605d62 !default;
$md-ref-palette-neutral50: #787579 !default;
$md-ref-palette-neutral60: #939094 !default;
$md-ref-palette-neutral70: #aeaaae !default;
$md-ref-palette-neutral80: #c9c5ca !default;
$md-ref-palette-neutral90: #e6e1e5 !default;
$md-ref-palette-neutral95: #f4eff4 !default;
$md-ref-palette-neutral99: #fffbfe !default;
$md-ref-palette-neutral100: #fff !default;

// Black
$md-ref-palette-black: #000 !default;

// White
$md-ref-palette-white: #fff !default;
