// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

// Hover state layer opacity
$md-sys-state-hover-state-layer-opacity: 8%;

// Focus state layer opacity
$md-sys-state-focus-state-layer-opacity: 12%;

// Pressed state layer opacity
$md-sys-state-pressed-state-layer-opacity: 12%;

// Dragged state layer opacity
$md-sys-state-dragged-state-layer-opacity: 16%;
