// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '../ref/typeface';

// Headline large
$md-sys-typescale-headline-large-font: typeface.$md-ref-typeface-plain;
$md-sys-typescale-headline-large-line-height: 2.5rem;
$md-sys-typescale-headline-large-size: 2rem;
$md-sys-typescale-headline-large-tracking: 0;
$md-sys-typescale-headline-large-weight: typeface.$md-ref-typeface-weight-regular;

// Headline medium
$md-sys-typescale-headline-medium-font: typeface.$md-ref-typeface-plain;
$md-sys-typescale-headline-medium-line-height: 2.25rem;
$md-sys-typescale-headline-medium-size: 1.75rem;
$md-sys-typescale-headline-medium-tracking: 0;
$md-sys-typescale-headline-medium-weight: typeface.$md-ref-typeface-weight-regular;

// Headline small
$md-sys-typescale-headline-small-font: typeface.$md-ref-typeface-plain;
$md-sys-typescale-headline-small-line-height: 2rem;
$md-sys-typescale-headline-small-size: 1.5rem;
$md-sys-typescale-headline-small-tracking: 0;
$md-sys-typescale-headline-small-weight: typeface.$md-ref-typeface-weight-regular;

// Title small
$md-sys-typescale-title-small-font: typeface.$md-ref-typeface-plain;
$md-sys-typescale-title-small-line-height: 1.25rem;
$md-sys-typescale-title-small-size: 0.875rem;
$md-sys-typescale-title-small-tracking: 0.00625rem;
$md-sys-typescale-title-small-weight: typeface.$md-ref-typeface-weight-medium;

// Label large
$md-sys-typescale-label-large-font: typeface.$md-ref-typeface-plain;
$md-sys-typescale-label-large-line-height: 1.25rem;
$md-sys-typescale-label-large-size: 0.875rem;
$md-sys-typescale-label-large-tracking: 0.00625rem;
$md-sys-typescale-label-large-weight: typeface.$md-ref-typeface-weight-medium;

// Body large
$md-sys-typescale-body-large-font: typeface.$md-ref-typeface-plain;
$md-sys-typescale-body-large-line-height: 1.5rem;
$md-sys-typescale-body-large-size: 1rem;
$md-sys-typescale-body-large-tracking: 0.03125rem;
$md-sys-typescale-body-large-weight: typeface.$md-ref-typeface-weight-regular;

// Body medium
$md-sys-typescale-body-medium-font: typeface.$md-ref-typeface-plain;
$md-sys-typescale-body-medium-line-height: 1.25rem;
$md-sys-typescale-body-medium-size: 0.875rem;
$md-sys-typescale-body-medium-tracking: 0.015625rem;
$md-sys-typescale-body-medium-weight: typeface.$md-ref-typeface-weight-regular;

// Body small
$md-sys-typescale-body-small-font: typeface.$md-ref-typeface-plain;
$md-sys-typescale-body-small-line-height: 1rem;
$md-sys-typescale-body-small-size: 0.75rem;
$md-sys-typescale-body-small-tracking: 0.025rem;
$md-sys-typescale-body-small-weight: typeface.$md-ref-typeface-weight-regular;
