// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$one: 0.0625rem;
$two: 0.125rem;
$four: 0.25rem;
$eight: 0.5rem;
$twelve: 0.75rem;
$sixteen: 1rem;
$twenty: 1.25rem;
$twenty-four: 1.5rem;
$fifty-two: 3.25rem;
$fifty-six: 3.5rem;